# Report Workspace
This notebook is used to conduct analysis on the simulation result and produce report plots.

### Converstion that prompted this work
**Majid:**  
It would be great if [you] could put together a report and output plots to show data analysis skill.

**Me:**  
What should the audience of the report be? Is the goal of the data analysis to find deficiencies/inaccuracies in the model, or to pretend as though this is real building data and provide insight into operation, energy usage, system parameters (temps, flows)? What format should the deliverable be, a static PDF like report,  a dynamic dashboard? Are there specific tools or software packages he'd like to see showcased? 
  
**Majid:**  
1.The audience is the Digital Twin and Computational Physics team  
2.It is an open question. It could be plotting tank temperature and weather data and providing discussion on how they are related. Or perfoming sensitivity analysis on parameters of the system.    
3/4. No specific preference. PDF would be enough for report. But if [you would] like, adding a dynamic dashboard will be useful."

In [1]:
import pandas as pd

# Read in Simulation Data

In [4]:
july_data = pd.read_csv('thermal-simulation.csv')
july_data.describe()

,Irradiance,Outside Air Temp,Zone Air Temp,Panel Temp,Supply Pipe Temp,Tank Temp,Return Pipe Temp,Panel Heat Loss,Supply Pipe Heat Loss,Tank Heat Loss,Return Pipe Heat Loss,Flow Rate,Total Heat Loss
count,8928.000000,8928.000000,8.928000e+03,8928.000000,8928.000000,8928.000000,8928.000000,8928.000000,8928.000000,8928.000000,8928.000000,8928.000000,8928.000000
mean,290.018705,25.049586,2.111100e+01,27.774411,26.032808,33.521157,25.683112,98038.919084,197.868688,30542.505072,127.494073,0.000099,128906.786917
std,351.528219,6.146987,3.552913e-15,8.772328,7.492373,4.586794,7.008249,114917.937302,415.225953,11288.509470,307.041619,0.000229,120346.312380
min,0.000000,13.600000,2.111100e+01,13.620214,13.678358,21.551775,13.678276,-20584.304420,-389.335372,1084.785542,-389.335372,0.000000,-3371.808327
25%,0.000000,19.700000,2.111100e+01,19.884225,19.716742,30.321524,19.716742,4494.199830,23.458844,22667.922385,17.838371,0.000000,32809.897431
50%,95.000000,24.100000,2.111100e+01,25.604136,24.144657,33.264365,24.127653,51974.044005,78.885932,29910.515999,71.777721,0.000000,80653.785508
75%,582.000000,30.500000,2.111100e+01,35.544634,31.773813,36.759980,31.224777,167676.342433,204.640026,38513.535774,171.784607,0.000000,202919.461909
max,1031.000000,38.200000,2.111100e+01,49.718451,45.788630,45.823168,44.580532,459039.700296,1835.579308,60818.850608,1384.673341,0.000630,506212.267949

# Things to put in the report
- Cover page
- Table of contents
- Executive summary
- Data Analysis
    - Correlation matrix
    - Regressions 
    - System performance
        - Efficiencies
        - Runtime
- Sensitivity analysis
    - Parameter space
- Conclusions
    - Future work